doctype html
html
  head
    title Canzoni
    style.
      body {
        font-family: Verdana, sans-serif;
        text-align: center;
        margin: 0;
        padding: 50;
      }
      h1{
        width: 100%
      }
      .css {
        background: #0080ff;
        padding: 200px;
      }
      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 40px auto;
        width: 95%;
        text-align: center;
      }
      li {
        margin-bottom: 35pxpx;
      }
      a {
        text-decoration: none;
        color: #000000 ;
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
        border: 6px ridge #252850;
      }
  body
  h1 CANZONI 
    .css
      ul
        li
          p
            a(href="/song/1") Wish You Were Here
        li
          p
            a(href="/song/2") sweet child o' mine
        li
          p
            a(href="/song/3") Aida